@{
    Layout = "_Layout";
    if (Model.Title != null)
    {
        ViewData["Title"] = (string)Model.Title;
    }

}

<div style="margin:5px">Стикеры сделаны <a href="https://www.flaticon.com/ru/authors/stickers" title="Stickers">Stickers</a> from <a href="https://www.flaticon.com/ru/" title="Flaticon">www.flaticon.com</a></div>
<div class="container" style="height:100%">
    <div class="col-9 col-md-8 col-lg-6 col-xl-4 mx-auto" style="height:100%">
        <div class="card" style="margin-top:5rem;margin-bottom:5rem">
            <div class="card-body">
                <h5 class="card-title">Вжууух!</h5>
                <img src="~/img/bernie-the-cat/@Model.Sticker" class="card-img-top">
                <h6 class="card-subtitle mb-2 text-muted">. . . и Beta-доступ открыт!</h6>
                <p class="card-text">Спасибо, что подтвердили адрес своей электронной почты! Мы очень стараемся запустить сервис как можно скорее! Сейчас вы будете перенаправлены на главную страницу сайта.</p>
            </div>
        </div>
    </div>
</div>
@section Scripts {

    @if (Model.Action != null && Model.Controller != null)
    {
        <script>

            setTimeout(x =>
                {
                    window.location.href = "@Url.Action((string)Model.Action, (string)Model.Controller)";
                }, 8000);

        </script>
    }
}