
@{
    Layout = "_Layout";
    ViewData["Title"] = "Команда";
}

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<div class="container row justify-content-md-center">

</div>

@section Scripts { }
